<!DOCTYPE html>
<html
        xmlns:th="https://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>CADASTRO</title>
</head>
<body>
    <table>
        <thead>
            <tr>ID</tr>
            <tr>Nome</tr>
            <tr>Sigla</tr>
            <tr>Ação</tr>
        </thead>
        <tbody th:each="estado: ${listaEstados}">
            <tr>
                <td th:text="${estado.id}"></td>
                <td th:text="${estado.nome}"></td>
                <td th:text="${estado.sigla}"></td>
                <td colspan="2">
                    <a th:href="/editarEstado/{id}(id=${estado.id})">Editar</a>
                    <a th:href="/removerEstado/{id}(id=${estado.id})">Remover</a>
                </td>
            </tr>
        </tbody>

    </table>
</body>
</html>